/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  background-color: ;
  --bg-color: #f0f8ff;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.75rem;
  --bottom-margin-2: 1.25rem;
  --line-height: 2rem;
  --transition: 0.2s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* nav bar */

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav h1:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  cursor: pointer;
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

/* .burger-menu */
.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  /* max-width: 69.75rem; */
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 100%;
}

/* Projects */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 0.2rem;
}

.project-pic {
  width: 50%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.projects-title:hover {
  transform: scale(150%);
  transition: var(--transition);
  cursor: pointer;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card:hover {
  transform: scale(118%);
}

/* about */
.about {
  background-color: var(--secondary-shadow);
  padding: 1rem 6rem;
}

.about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: brown;
}

.about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

/* skills */

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.icon-card:hover {
  transform: scale(125%);
}

/* GALLERY */
.container-gallery {
  padding: 1rem;
}

.container-gallery h1 {
  color: var(--secondary-color);
}

.grid-container {
  display: grid;
  grid-template-areas:
    "grid1 grid1 grid1 grid1 grid3 grid3"
    "grid2 grid2 grid4 grid4 grid3 grid3"
    "grid2 grid2 grid4 grid4 grid3 grid3"
    "grid5 grid6 grid6 grid6 grid3 grid3"
    "grid7 grid6 grid6 grid6 grid9 grid9"
    "grid8 grid6 grid6 grid6 grid9 grid9";
  grid-auto-rows: 1fr;
  gap: 0.5rem;
}

.container-gallery {
  padding: 1rem;
}

.grids {
  min-height: 100px;
  color: transparent;
  background-color: aquamarine;
}

.grid1 {
  grid-area: grid1;
  background-image: url("http://source.unsplash.com/Yg_sNKOiXvY");
  alt: "kuwala";
  background-size: cover;
  background-position: center;
}

.grid2 {
  grid-area: grid2;
  background-image: url("http://source.unsplash.com/66zrT0dJ7Mc");
  alt: "Tiger";
  background-size: cover;
  background-position: center;
}

.grid3 {
  grid-area: grid3;
  background-image: url("http://source.unsplash.com/qBT44OJWNd8");
  alt: "bear";
  background-size: cover;
  background-position: center;
}

.grid4 {
  grid-area: grid4;
  background-image: url("http://source.unsplash.com/8a7ZTFKax_I");
  alt: "lion";
  background-size: cover;
  background-position: top;
}

.grid5 {
  grid-area: grid5;
  background-image: url("http://source.unsplash.com/8Ou3EZmTMWA");
  alt: "wolf";
  background-size: cover;
}

.grid6 {
  grid-area: grid6;
  background-image: url("http://source.unsplash.com/_jdB5skW6W8");
  background-size: cover;
  background-position: center;
}

.grid7 {
  grid-area: grid7;
  background-image: url("http://source.unsplash.com/ZqYPM8i60F8");
  alt: "Zebra";
  background-size: cover;
  background-position: top;
}

.grid8 {
  grid-area: grid8;
  background-image: url("http://source.unsplash.com/MVIqwQvkwG4");
  alt: "moose";
  background-size: cover;
  background-position: center;
}

.grid9 {
  grid-area: grid9;
  background-image: url("http://source.unsplash.com/iQRKBNKyRpo");
  alt: "deer";
  background-size: cover;
  background-position: center;
}

/* contact */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
  color: var(--primary-color);
}

.contact h2:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}


.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}



/* responsive */
@media screen and (max-width: 560px) {
  nav {
    padding: 1.5rem 1rem;
  }

  .scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }

  
  

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }